body {
		text-align: center;
		font-family: Helvetica, Myriad;
		color: white;
		background-color: #1d242d;
		}
		
h1 {font-size: 2em;}
		
h6 {font-size: 0.75em;}

div {
		font-size: 1em;
		display: none;
		}
		
input {
    font-size: 0.75em;
		font-family: Helvetica, Myriad;
		}
